{% extends 'app/index.html'%}

{%block scripts%} 
<script>
  $(document).ready(function(){
  {%if timestamp%}
    var click_date = (new Date({{timestamp}})).toDateString()
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
    var comments_element = document.getElementById("comments");
    var submission_element = document.getElementById("reddit_thread")
    var top_comment = document.getElementById("top-comment")
    var top_comment_text = document.getElementById("top-comment-text")
    var top_comment_score = document.getElementById("top-comment-score")
    var top_comment_date = document.getElementById("top-comment-date")
    top_comment.style.display = 'block'
    comments_element.innerHTML = ''
    var selectedComments=[]
    {%for submission in submissions%}
      var submission_date = new Date('{{submission.date}}')
      var submission_date = submission_date.toDateString()
      // if (submission_date === click_date) {
        submission_element.style.display = 'block';
        var submission_id = '{{submission.id}}'
        submission_element.children[0].setAttribute('href', 'https://www.reddit.com/'+ submission_id)
        submission_element.children[0].innerText = 'View Thread: '+ submission_date
      // }
    {%endfor%}
    var first_comment = true
    {%for comment in comments%}
      var comment_date = new Date('{{comment.date}}')
      var comment_date = comment_date.toDateString()
      if (first_comment) {
        top_comment_text.innerText = `{{comment.text}}`
        top_comment_score.innerText = `{{comment.score}}`
        top_comment_date.innerText = comment_date
      }
      first_comment = false
      // if (comment_date === click_date) {
        // console.log(comment_date)
        var element = document.createElement('div')
        element.className = "individual_comment"
        element.classList.add("card")
        var comment_score = document.createElement('p')
        comment_score.innerText = `Score: {{comment.score}}`
        comment_score.style.fontWeight = 500
        var comment_text = document.createElement('p')
        {% autoescape on %}
          comment_text.innerText = `{{comment.text}}`
        {% endautoescape %}
        element.appendChild(comment_score)
        element.appendChild(comment_text)
        comments_element.appendChild(element)
    {%endfor%}
    {%if not found_post%}
      submission_element.style.display = 'None'
      top_comment.style.display = 'None'
      comments_element.innerHTML = 'Error: missing thread for selected date';
    {%endif%}
  {%endif%}
  });
  </script>
<script>
    // jquery function
    $(document).ready(function(){
        var ctx = document.getElementById("cryptoCap").getContext("2d");
        var comments_element = document.getElementById("comments");
        var submission_element = document.getElementById("reddit_thread")
        var top_comment = document.getElementById("top-comment")
        var top_comment_text = document.getElementById("top-comment-text")
        var top_comment_score = document.getElementById("top-comment-score")
        var top_comment_date = document.getElementById("top-comment-date")
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    // labels: ["2015-03-15T13:03:00Z", "2015-03-25T13:02:00Z", "2015-04-25T14:12:00Z"],
    datasets: [{
      borderColor: 'rgba(242, 167, 54, .7)',
      backgroundColor: 'rgba(242, 167, 54, .3)',
      fill: true,
      pointRadius: 1,
      data: [
            {%for data in qs%}
            {x: '{{data.date}}', y:{{data.crypto_cap}}},
            {%endfor%}
        ],
      borderWidth: 1.5
    }]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
              let label = context.dataset.label || '';

              if (label) {
                  label += ': ';
              }
              if (context.parsed.y !== null) {
                  label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
              }
              return label;
          }
        }        
      },
      "legend": {
        "display": false,
      },
    },
    elements: {
        line: {
            tension: 0.1
        }
    },
    scales: {
        x: {
            type: 'time',

        },
        y: {
          ticks: {
            beginAtZero: false,
            callback: function(value, index, values) {
              if(parseInt(value) >= 1000){
                return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                return '$' + value;
              }
            }
          }
        }
    },
    onClick: (e) => {
        comments_element.innerHTML = '';
        const canvasPosition = Chart.helpers.getRelativePosition(e, myChart);
        const dataX = myChart.scales.x.getValueForPixel(canvasPosition.x)/1000;
        var click_date = (new Date(dataX)).toDateString()
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        $.post('',{
          data: dataX,
          csrfmiddlewaretoken: CSRFtoken
        }).done(function() {
          window.location.href='/btc/'+parseInt(dataX)
        })
    }
  },
});
        });
</script>
<script>

</script>
{%endblock scripts%}
{%block content%}
<h2 class="text-center">Total Cryptocurrency Market Cap</h2>
<div class="row">
  <div class="col-md-7">
    <form action="" method="post">
      {% csrf_token %}
    <canvas id="cryptoCap" width="400" height="250"></canvas>
    </form>
  </div>
  <div class="col-md-5 card comments_card">
    <div class="card-body">
      <h4 class="card-title" style="display:inline-block;">Comments</h4>
      <button class="btn btn-primary" id="reddit_thread"><a target="_blank" href="">View Thread</a></button>
      <div id="comments">
        <p>Click on the chart to view comments!</p>
      </div>
    </div>
  </div>
</div> 
<div class="row" id="top-comment">
  <div class="card">
    <h3 class="card-title">Top Comment</h3>
    <p>Score: <b id="top-comment-score"></b> | Date: <b id="top-comment-date"></b></p>

    <div class="card">
      <h1 id="top-comment-text"></h1>
    </div>
  </div>
</div>

<!-- <canvas id="a" style = "background-color: rgba(255, 0, 0, 0.123); position: absolute;top: 4em; left: 10em;aspect-ratio: auto 400 / 100;
"width="400" height="100"></canvas> -->
<!-- <div style="aspect-ratio: auto 1002 / 500; width: 30%; background-color: rgba(255, 0, 0, 0.123); position: absolute; top: 4em; left: 10em;"></div>   -->

{%endblock content%}