{% extends 'app/index.html'%}

{%block scripts%} 
<script>
    // jquery function
    $(document).ready(function(){
        var ctx = document.getElementById("cryptoCap").getContext("2d");
var myChart = new Chart(ctx, {
  type: 'line',
  plugins: [{
          afterDraw: chart => {
            if (chart.tooltip?._active?.length) {               
               let x = chart.tooltip._active[0].element.x;             
               let yAxis = chart.scales.y;
               let ctx = chart.ctx;
               ctx.save();
               ctx.beginPath();
               ctx.moveTo(x, yAxis.top);
               ctx.lineTo(x, yAxis.bottom);
               ctx.lineWidth = 1;
               ctx.strokeStyle = 'rgba(0, 0, 0, 0.4)';
               ctx.stroke();
               ctx.restore();
            }
          }
        }],
  data: {
    // labels: ["2015-03-15T13:03:00Z", "2015-03-25T13:02:00Z", "2015-04-25T14:12:00Z"],
    datasets: [{
        {%block colors%}
        {%endblock%}
      fill: true,
      pointRadius: 1,
      data: [
            {%block price_data%}
            {%endblock%}
        ],
      borderWidth: 1.5
    }]
  },
  options: {
    interaction: {
        intersect: false,
        mode: 'index',
    },
    plugins: {
          interaction: {
            intersect: false,
            mode: 'index',
          },
      tooltip: {
        callbacks: {
          label: function(context) {
              let label = context.dataset.label || '';

              if (label) {
                  label += ': ';
              }
              if (context.parsed.y !== null) {
                  label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
              }
              return label;
          }
        }        
      },
      "legend": {
        "display": false,
      },
    },
    elements: {
        line: {
            tension: 0.1
        }
    },
    scales: {
        x: {
            type: 'time',

        },
        y: {
          ticks: {
            beginAtZero: false,
            callback: function(value, index, values) {
              if(parseInt(value) >= 1000){
                return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                return '$' + value;
              }
            }
          }
        }
    },
    onClick: (e) => {
        const canvasPosition = Chart.helpers.getRelativePosition(e, myChart);
        const dataX = myChart.scales.x.getValueForPixel(canvasPosition.x)/1000;
        var click_date = (new Date(dataX)).toDateString()
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
          type: 'GET',
          url: '/get/comment-data/',
          data: {
            'asset': location.pathname.split('/')[2],
            'timestamp': dataX
          },
          success: function(data) {
            populateComments(data.submissions,data.comments)
            console.log(data.submissions)
          },
          error: function() {
            alert("Error: Missing thread for date, choose a different date.")
          },

        })
    }
  }
});
        });
</script>
{%endblock scripts%}
{%block content%}
{%block title%}
{%endblock%}
<!-- <div class="row justify-content-center">
    <div class="col-md-5">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggleTimeframe" aria-expanded="false" aria-controls="toggleTimeframe">Timeframe</button>
        <div class="card collapse" id="toggleTimeframe">
            <div class="card-body">
                <button class="btn btn-primary">All</button>
                <button class="btn btn-primary">1Y</button>
                <button class="btn btn-primary">1M</button>
                <button class="btn btn-primary">1W</button>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
  <div class="col-md-7">
    <div class="card chart-card">
    <canvas id="cryptoCap" width="400" height="250"></canvas>
    </div>
    <div class="card" id="toggleTimeframe">
        <div class="card-body">
            <h5>Timeframes</h5>
            <button class="btn btn-dark tf" id="all">All</button>
            <button class="btn btn-dark tf" id="year">Year</button>
            <button class="btn btn-dark tf" id="month">Month</button>
            <button class="btn btn-dark tf" id="week">Week</button>
        </div>
    </div>
  </div>
  <div class="col-md-5">
    <div id="subreddits">
      <p class="btn subreddit-btn cryptocurrency" style="display:none"
      data-toggle="collapse" data-target=".comment_cryptocurrency" area-controls=".comment_cryptocurrency"
      area-expanded="false"
      ></p>
      <p class="btn subreddit-btn bitcoin" style="display:none"
      data-toggle="collapse" data-target=".comment_bitcoin" area-controls=".comment_bitcoin"
      area-expanded="false"
      ></p>
      <p class="btn subreddit-btn ethtrader" style="display:none"
      data-toggle="collapse" data-target=".comment_ethtrader" area-controls=".comment_ethtrader"
      area-expanded="false"
      ></p>
      <p class="btn subreddit-btn ethereum" style="display:none"
      data-toggle="collapse" data-target=".comment_ethereum" area-controls=".comment_ethtrader"
      area-expanded="false"
      ></p>
      <p class="btn subreddit-btn ethfinance" style="display:none"
      data-toggle="collapse" data-target=".comment_ethereum" area-controls=".comment_ethtrader"
      area-expanded="false"
      ></p>
    </div>
    <div class="card comments_card">
      <div class="card-body">
        <h4 class="card-title" style="display:inline-block;">Comments</h4>
        <button class="btn btn-primary" id="reddit_thread"><a target="_blank" href="">View Thread</a></button>
        <div id="comments">
          <p>Click on the chart to view comments!</p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="row" id="top-comment">
  <div class="card">
    <h3 class="card-title">Top Comment</h3>
    <p>Score: <b id="top-comment-score"></b> | Date: <b id="top-comment-date"></b></p>

    <div class="card">
      <h1 id="top-comment-text"></h1>
    </div>
  </div>
</div>
{%endblock content%}