{% extends 'app/index.html'%}

{%block scripts%} 
<script>


    function populateComments(submissions, comments) {
    // var click_date = (new Date(submission.date)).toDateString()
    var comments_element = document.getElementById("comments");
    var submission_element = document.getElementById("reddit_thread")
    var top_comment = document.getElementById("top-comment")
    var top_comment_text = document.getElementById("top-comment-text")
    var top_comment_score = document.getElementById("top-comment-score")
    var top_comment_date = document.getElementById("top-comment-date")
    top_comment.style.display = 'block'
    comments_element.innerHTML = ''
    var date = (new Date(submissions[0].date)).toDateString()
    submissions.forEach(submission => {
      subreddit = document.getElementsByClassName(submission.subreddit)[0]
      subreddit.style.display = 'inline-block'
      subreddit.innerText = `r/${submission.subreddit}`
      submission_element.style.display = 'block';
        subreddit.click(function(){
          submission_element.children[0].setAttribute('href', 'https://www.reddit.com/'+ submission.id)
        })
        submission_element.children[0].setAttribute('href', 'https://www.reddit.com/'+ submission.id)
        submission_element.children[0].innerText = 'View Thread: '+ date
    });
    comments.forEach((comment,i) => {
      if(i===0) {
        top_comment_text.innerText = comment.text
        top_comment_score.innerText = comment.score
        top_comment_date.innerText = date        
      }
      var element = document.createElement('div')
      element.className = `comment_${comment.subreddit}`
      element.classList.add("card")
      var comment_score = document.createElement('p')
      comment_score.innerText = `Score: ${comment.score} | Subreddit: r/${comment.subreddit}`
      comment_score.style.fontWeight = 500
      var comment_text = document.createElement('p')
      comment_text.innerText = comment.text
      element.appendChild(comment_score)
      element.appendChild(comment_text)
      comments_element.appendChild(element)
    })
    }
</script>
<script>
    // jquery function
    $(document).ready(function(){
        var ctx = document.getElementById("cryptoCap").getContext("2d");
      
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    // labels: ["2015-03-15T13:03:00Z", "2015-03-25T13:02:00Z", "2015-04-25T14:12:00Z"],
    datasets: [{
        {%block colors%}
        {%endblock%}
      fill: true,
      pointRadius: 1,
      data: [
            {%block price_data%}
            {%endblock%}
        ],
      borderWidth: 1.5
    }]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
              let label = context.dataset.label || '';

              if (label) {
                  label += ': ';
              }
              if (context.parsed.y !== null) {
                  label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
              }
              return label;
          }
        }        
      },
      "legend": {
        "display": false,
      },
    },
    elements: {
        line: {
            tension: 0.1
        }
    },
    scales: {
        x: {
            type: 'time',

        },
        y: {
          ticks: {
            beginAtZero: false,
            callback: function(value, index, values) {
              if(parseInt(value) >= 1000){
                return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                return '$' + value;
              }
            }
          }
        }
    },
    onClick: (e) => {
        const canvasPosition = Chart.helpers.getRelativePosition(e, myChart);
        const dataX = myChart.scales.x.getValueForPixel(canvasPosition.x)/1000;
        var click_date = (new Date(dataX)).toDateString()
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
          type: 'GET',
          url: '/get/comment-data/',
          data: {
            'asset': location.pathname.split('/')[2],
            'timestamp': dataX
          },
          success: function(data) {
            populateComments(data.submissions,data.comments)
            console.log(data.submissions)
          },
          error: function() {
            alert("Error: Missing thread for date, choose a different date.")
          },

        })
    }
  }
});

        });
</script>
<script>
  $(document).ready(function(){
    $('#all').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/all';
})
$('#year').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/year';
})
$('#month').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/month';
})
$('#week').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/week';
})
// $('.cryptocurrency').click(function(){
//   if(clicked) {
//     $('#comments').children().show()
//     clicked = false
//   } else { 
//     $('.comment_cryptocurrency').show()
//     $('.comment_ethtrader').hide()
//     $('.comment_bitcoin').hide()
//     clicked = true 
//   }
//   $('.cryptocurrency').css('background-color','rgba(182, 62, 20, 1)')
//   $('.ethtrader').css('background-color','rgba(255, 87, 30, 1)')
//   $('.bitcoin').css('background-color','rgba(255, 87, 30, 1)')
var flag, flag1, flag2 = false
$('.cryptocurrency').click(function(){
  if (flag) {
  console.log('hi')
  $('.cryptocurrency').css('background-color','rgba(182, 62, 20, 1)')
  $('.ethtrader').css('background-color','rgba(255, 87, 30, 1)')
  $('.bitcoin').css('background-color','rgba(255, 87, 30, 1)')
  $('.comment_cryptocurrency').css('display','block')
  $('.comment_ethtrader').css('display','none')
  $('.comment_bitcoin').css('display','none')
  } else {flag=true}
})
$('.bitcoin').click(function(){
  if (flag1) {
  $('.bitcoin').css('background-color','rgba(182, 62, 20, 1)')
  $('.cryptocurrency').css('background-color','rgba(255, 87, 30, 1)')
  $('.ethtrader').css('background-color','rgba(255, 87, 30, 1)')
  $('.comment_bitcoin').css('display','block')
  $('.comment_ethtrader').css('display','none')
  $('.comment_cryptocurrency').css('display','none')
  } else {flag1=true}

})
$('.ethtrader').click(function(){
  if (flag2) {
  $('.ethtrader').css('background-color','rgba(182, 62, 20, 1)')
  $('.bitcoin').css('background-color','rgba(255, 87, 30, 1)')
  $('.cryptocurrency').css('background-color','rgba(255, 87, 30, 1)')
  $('.comment_ethtrader').css('display','block')
  $('.comment_cryptocurrency').css('display','none')
  $('.comment_bitcoin').css('display','none')
  } else {flag2=true}

})
  })
</script>
{%endblock scripts%}
{%block content%}
{%block title%}
{%endblock%}
<!-- <div class="row justify-content-center">
    <div class="col-md-5">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggleTimeframe" aria-expanded="false" aria-controls="toggleTimeframe">Timeframe</button>
        <div class="card collapse" id="toggleTimeframe">
            <div class="card-body">
                <button class="btn btn-primary">All</button>
                <button class="btn btn-primary">1Y</button>
                <button class="btn btn-primary">1M</button>
                <button class="btn btn-primary">1W</button>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
  <div class="col-md-7">
    <form action="" method="post">
      {% csrf_token %}
    <canvas id="cryptoCap" width="400" height="250"></canvas>
    </form>
    <div class="card" id="toggleTimeframe">
        <div class="card-body">
            <h5>Timeframes</h5>
            <button class="btn btn-dark tf" id="all">All</button>
            <button class="btn btn-dark tf" id="year">Year</button>
            <button class="btn btn-dark tf" id="month">Month</button>
            <button class="btn btn-dark tf" id="week">Week</button>
        </div>
    </div>
  </div>
  <div class="col-md-5">
    <div id="subreddits">
      <p class="btn subreddit-btn cryptocurrency" style="display:none"></p>
      <p class="btn subreddit-btn bitcoin" style="display:none"></p>
      <p class="btn subreddit-btn ethtrader" style="display:none"></p>
    </div>
    <div class="card comments_card">
      <div class="card-body">
        <h4 class="card-title" style="display:inline-block;">Comments</h4>
        <button class="btn btn-primary" id="reddit_thread"><a target="_blank" href="">View Thread</a></button>
        <div id="comments">
          <p>Click on the chart to view comments!</p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="row" id="top-comment">
  <div class="card">
    <h3 class="card-title">Top Comment</h3>
    <p>Score: <b id="top-comment-score"></b> | Date: <b id="top-comment-date"></b></p>

    <div class="card">
      <h1 id="top-comment-text"></h1>
    </div>
  </div>
</div>
{%endblock content%}