{% extends 'app/index.html'%}

{%block scripts%} 
<script>
  $(document).ready(function(){
  {%if timestamp%}
    var click_date = (new Date({{timestamp}})).toDateString()
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
    var comments_element = document.getElementById("comments");
    var submission_element = document.getElementById("reddit_thread")
    var top_comment = document.getElementById("top-comment")
    var top_comment_text = document.getElementById("top-comment-text")
    var top_comment_score = document.getElementById("top-comment-score")
    var top_comment_date = document.getElementById("top-comment-date")
    var subreddits = document.getElementById("subreddits")
    top_comment.style.display = 'block'
    comments_element.innerHTML = ''
    var selectedComments=[]
    {%for submission in submissions%}
      subreddit = document.createElement('p')
      subreddit.innerText = 'r/{{submission.subreddit}}'
      subreddit.className = 'btn subreddit-btn {{submission.subreddit}}'
      subreddits.appendChild(subreddit)
      var submission_date = new Date('{{submission.date}}')
      var submission_date = submission_date.toDateString()
      console.log('{{submission.subreddit}}')
        submission_element.style.display = 'block';
        var submission_id = '{{submission.id}}'
        subreddit.click(function(){
          submission_element.children[0].setAttribute('href', 'https://www.reddit.com/'+ submission_id)
        })
        submission_element.children[0].setAttribute('href', 'https://www.reddit.com/'+ submission_id)
        submission_element.children[0].innerText = 'View Thread: '+ submission_date
    {%endfor%}
    var first_comment = true
    {%for subreddit in subreddit%}
    {%endfor%}
    {%for comment in comments_c%}
      {% autoescape off %}
      comment_true_text = `{{comment.text}}`
      {% endautoescape %}
      if (first_comment) {
        top_comment_text.innerText = comment_true_text
        top_comment_score.innerText = '{{comment.score}}'
        top_comment_date.innerText = submission_date
      }
      first_comment = false
      // if (comment_date === click_date) {
        // console.log(comment_date)
        var element = document.createElement('div')
        element.className = "individual_comment_c"
        element.classList.add("card")
        var comment_score = document.createElement('p')
        comment_score.innerText = `Score: {{comment.score}}`
        comment_score.style.fontWeight = 500
        var comment_text = document.createElement('p')
        comment_text.innerText = comment_true_text
        element.appendChild(comment_score)
        element.appendChild(comment_text)
        comments_element.appendChild(element)
    {%endfor%}
    console.log('{{comment_b}}')
    {%if comments_b%}
    {%endif%}
    {%for comment in comments_b%}
      {% autoescape off %}
      comment_true_text = `{{comment.text}}`
      {% endautoescape %}
      if (first_comment) {
        top_comment_text.innerText = comment_true_text
        top_comment_score.innerText = '{{comment.score}}'
        top_comment_date.innerText = submission_date
      }
      first_comment = false
      // if (comment_date === click_date) {
        // console.log(comment_date)
        var element = document.createElement('div')
        element.className = "individual_comment_b"
        element.classList.add("card")
        var comment_score = document.createElement('p')
        comment_score.innerText = `Score: {{comment.score}}`
        comment_score.style.fontWeight = 500
        var comment_text = document.createElement('p')
        comment_text.innerText = comment_true_text
        element.appendChild(comment_score)
        element.appendChild(comment_text)
        comments_element.appendChild(element)
    {%endfor%}
    {%for comment in comments_e%}
      {% autoescape off %}
      comment_true_text = `{{comment.text}}`
      {% endautoescape %}
      if (first_comment) {
        top_comment_text.innerText = comment_true_text
        top_comment_score.innerText = '{{comment.score}}'
        top_comment_date.innerText = submission_date
      }
      first_comment = false
      // if (comment_date === click_date) {
        // console.log(comment_date)
        var element = document.createElement('div')
        element.className = "individual_comment_e"
        element.classList.add("card")
        var comment_score = document.createElement('p')
        comment_score.innerText = `Score: {{comment.score}}`
        comment_score.style.fontWeight = 500
        var comment_text = document.createElement('p')
        comment_text.innerText = comment_true_text
        element.appendChild(comment_score)
        element.appendChild(comment_text)
        comments_element.appendChild(element)
    {%endfor%}
    {%if not found_post%}
      submission_element.style.display = 'None'
      top_comment.style.display = 'None'
      comments_element.innerHTML = 'Error: missing thread for selected date';
    {%endif%}
  {%endif%}
  });
  </script>
<script>
    // jquery function
    $(document).ready(function(){
        var ctx = document.getElementById("cryptoCap").getContext("2d");
        var comments_element = document.getElementById("comments");
        var submission_element = document.getElementById("reddit_thread")
        var top_comment = document.getElementById("top-comment")
        var top_comment_text = document.getElementById("top-comment-text")
        var top_comment_score = document.getElementById("top-comment-score")
        var top_comment_date = document.getElementById("top-comment-date")
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    // labels: ["2015-03-15T13:03:00Z", "2015-03-25T13:02:00Z", "2015-04-25T14:12:00Z"],
    datasets: [{
        {%block colors%}
        {%endblock%}
      fill: true,
      pointRadius: 1,
      data: [
            {%block price_data%}
            {%endblock%}
        ],
      borderWidth: 1.5
    }]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
              let label = context.dataset.label || '';

              if (label) {
                  label += ': ';
              }
              if (context.parsed.y !== null) {
                  label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
              }
              return label;
          }
        }        
      },
      "legend": {
        "display": false,
      },
    },
    elements: {
        line: {
            tension: 0.1
        }
    },
    scales: {
        x: {
            type: 'time',

        },
        y: {
          ticks: {
            beginAtZero: false,
            callback: function(value, index, values) {
              if(parseInt(value) >= 1000){
                return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                return '$' + value;
              }
            }
          }
        }
    },
    onClick: (e) => {
        comments_element.innerHTML = '';
        const canvasPosition = Chart.helpers.getRelativePosition(e, myChart);
        const dataX = myChart.scales.x.getValueForPixel(canvasPosition.x)/1000;
        var click_date = (new Date(dataX)).toDateString()
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        $.post('',{
          data: dataX,
          csrfmiddlewaretoken: CSRFtoken
        }).done(function() {
            var tf = location.pathname.split('/')[2];
            if(!tf) {
              tf='all'
            }
            var timeframe = location.pathname.split('/')[3]
            {%block window_location%}
            {%endblock%}
        })
    }
  }
});
console.log(location.pathname.split('/'));
// function timeframeRedirect(timeframe) {
//   $.post('',{
//           data: dataX,
//           csrfmiddlewaretoken: CSRFtoken
//         }).done(function() {
//           window.location.href='/total/all'
//         })    
// }
// tfAll.onClick = timeframeRedirect(tfAll.className)
//   console.log('hey')
$('#all').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/all';
})
$('#year').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/year';
})
$('#month').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/month';
})
$('#week').click(function(){
  const asset = location.pathname.split('/')[2];
  window.location.href='/chart/'+asset+'/week';
})
$('.cryptocurrency').click(function(){
  $('.cryptocurrency').css('background-color','rgba(182, 62, 20, 1)')
  $('.ethtrader').css('background-color','rgba(255, 87, 30, 1)')
  $('.bitcoin').css('background-color','rgba(255, 87, 30, 1)')
  $('.individual_comment_c').css('display','block')
  $('.individual_comment_e').css('display','none')
  $('.individual_comment_b').css('display','none')
})
$('.bitcoin').click(function(){
  $('.bitcoin').css('background-color','rgba(182, 62, 20, 1)')
  $('.cryptocurrency').css('background-color','rgba(255, 87, 30, 1)')
  $('.ethtrader').css('background-color','rgba(255, 87, 30, 1)')
  $('.individual_comment_b').css('display','block')
  $('.individual_comment_e').css('display','none')
  $('.individual_comment_c').css('display','none')
})
$('.ethtrader').click(function(){
  $('.ethtrader').css('background-color','rgba(182, 62, 20, 1)')
  $('.bitcoin').css('background-color','rgba(255, 87, 30, 1)')
  $('.cryptocurrency').css('background-color','rgba(255, 87, 30, 1)')
  $('.individual_comment_e').css('display','block')
  $('.individual_comment_c').css('display','none')
  $('.individual_comment_b').css('display','none')
})
        });
</script>
<script>
</script>
{%endblock scripts%}
{%block content%}
{%block title%}
{%endblock%}
<!-- <div class="row justify-content-center">
    <div class="col-md-5">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#toggleTimeframe" aria-expanded="false" aria-controls="toggleTimeframe">Timeframe</button>
        <div class="card collapse" id="toggleTimeframe">
            <div class="card-body">
                <button class="btn btn-primary">All</button>
                <button class="btn btn-primary">1Y</button>
                <button class="btn btn-primary">1M</button>
                <button class="btn btn-primary">1W</button>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
  <div class="col-md-7">
    <form action="" method="post">
      {% csrf_token %}
    <canvas id="cryptoCap" width="400" height="250"></canvas>
    </form>
    <div class="card" id="toggleTimeframe">
        <div class="card-body">
            <h5>Timeframes</h5>
            <button class="btn btn-dark tf" id="all">All</button>
            <button class="btn btn-dark tf" id="year">Year</button>
            <button class="btn btn-dark tf" id="month">Month</button>
            <button class="btn btn-dark tf" id="week">Week</button>
        </div>
    </div>
  </div>
  <div class="col-md-5">
    <div id="subreddits"></div>
    <div class="card comments_card">
      <div class="card-body">
        <h4 class="card-title" style="display:inline-block;">Comments</h4>
        <button class="btn btn-primary" id="reddit_thread"><a target="_blank" href="">View Thread</a></button>
        <div id="comments">
          <p>Click on the chart to view comments!</p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="row" id="top-comment">
  <div class="card">
    <h3 class="card-title">Top Comment</h3>
    <p>Score: <b id="top-comment-score"></b> | Date: <b id="top-comment-date"></b></p>

    <div class="card">
      <h1 id="top-comment-text"></h1>
    </div>
  </div>
</div>
{%endblock content%}